In [1]:
import pandas as pd 
import numpy as np 
df=pd.read_csv(r"C:\Users\Dharshini\Downloads\EV_Dataset.csv")
df.head()

,Year,Month_Name,Date,State,Vehicle_Class,Vehicle_Category,Vehicle_Type,EV_Sales_Quantity
0,2014.0,jan,1/1/2014,Andhra Pradesh,ADAPTED VEHICLE,Others,Others,0.0
1,2014.0,jan,1/1/2014,Andhra Pradesh,AGRICULTURAL TRACTOR,Others,Others,0.0
2,2014.0,jan,1/1/2014,Andhra Pradesh,AMBULANCE,Others,Others,0.0
3,2014.0,jan,1/1/2014,Andhra Pradesh,ARTICULATED VEHICLE,Others,Others,0.0
4,2014.0,jan,1/1/2014,Andhra Pradesh,BUS,Bus,Bus,0.0

In [2]:
df.isnull().sum()

Year                 0
Month_Name           0
Date                 0
State                0
Vehicle_Class        0
Vehicle_Category     0
Vehicle_Type         0
EV_Sales_Quantity    0
dtype: int64

In [3]:
df.columns

Index(['Year', 'Month_Name', 'Date', 'State', 'Vehicle_Class',
       'Vehicle_Category', 'Vehicle_Type', 'EV_Sales_Quantity'],
      dtype='object')

In [4]:
df = df.replace({"State": {"Andhra Pradesh": np.nan}})

In [5]:
df.isnull().sum()

Year                    0
Month_Name              0
Date                    0
State                3457
Vehicle_Class           0
Vehicle_Category        0
Vehicle_Type            0
EV_Sales_Quantity       0
dtype: int64

In [6]:
df.describe

<bound method NDFrame.describe of          Year Month_Name       Date                     State  \
0      2014.0        jan   1/1/2014                       NaN
1      2014.0        jan   1/1/2014                       NaN
2      2014.0        jan   1/1/2014                       NaN
3      2014.0        jan   1/1/2014                       NaN
4      2014.0        jan   1/1/2014                       NaN
...       ...        ...        ...                       ...
96840  2023.0        dec  12/1/2023  Andaman & Nicobar Island
96841  2023.0        dec  12/1/2023  Andaman & Nicobar Island
96842  2023.0        dec  12/1/2023  Andaman & Nicobar Island
96843  2023.0        dec  12/1/2023  Andaman & Nicobar Island
96844  2023.0        dec  12/1/2023  Andaman & Nicobar Island

                           Vehicle_Class Vehicle_Category Vehicle_Type  \
0                        ADAPTED VEHICLE           Others       Others
1                   AGRICULTURAL TRACTOR           Others       Others
2                              AMBULANCE           Others       Others
3                    ARTICULATED VEHICLE           Others       Others
4                                    BUS              Bus          Bus
...                                  ...              ...          ...
96840                          MOTOR CAR       4-Wheelers  4W_Personal
96841  MOTOR CYCLE/SCOOTER-USED FOR HIRE       2-Wheelers    2W_Shared
96842                           OMNI BUS              Bus          Bus
96843              THREE WHEELER (GOODS)       3-Wheelers     3W_Goods
96844          THREE WHEELER (PASSENGER)       3-Wheelers    3W_Shared

       EV_Sales_Quantity
0                    0.0
1                    0.0
2                    0.0
3                    0.0
4                    0.0
...                  ...
96840                1.0
96841                5.0
96842                0.0
96843                0.0
96844                0.0

[96845 rows x 8 columns]>

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96845 entries, 0 to 96844
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               96845 non-null  float64
 1   Month_Name         96845 non-null  object
 2   Date               96845 non-null  object
 3   State              93388 non-null  object
 4   Vehicle_Class      96845 non-null  object
 5   Vehicle_Category   96845 non-null  object
 6   Vehicle_Type       96845 non-null  object
 7   EV_Sales_Quantity  96845 non-null  float64
dtypes: float64(2), object(6)
memory usage: 5.9+ MB

In [8]:
df.head(50)

,Year,Month_Name,Date,State,Vehicle_Class,Vehicle_Category,Vehicle_Type,EV_Sales_Quantity
0,2014.0,jan,1/1/2014,NaN,ADAPTED VEHICLE,Others,Others,0.0
1,2014.0,jan,1/1/2014,NaN,AGRICULTURAL TRACTOR,Others,Others,0.0
2,2014.0,jan,1/1/2014,NaN,AMBULANCE,Others,Others,0.0
3,2014.0,jan,1/1/2014,NaN,ARTICULATED VEHICLE,Others,Others,0.0
4,2014.0,jan,1/1/2014,NaN,BUS,Bus,Bus,0.0
5,2014.0,jan,1/1/2014,NaN,CASH VAN,Others,Others,0.0
6,2014.0,jan,1/1/2014,NaN,CRANE MOUNTED VEHICLE,Others,Others,0.0
7,2014.0,jan,1/1/2014,NaN,EDUCATIONAL INSTITUTION BUS,Bus,Institution Bus,0.0
8,2014.0,jan,1/1/2014,NaN,EXCAVATOR (COMMERCIAL),Others,Others,0.0
9,2014.0,jan,1/1/2014,NaN,FORK LIFT,Others,Others,0.0
10,2014.0,jan,1/1/2014,NaN,GOODS CARRIER,Others,Others,0.0
11,2014.0,jan,1/1/2014,NaN,HARVESTER,Others,Others,0.0
12,2014.0,jan,1/1/2014,NaN,MAXI CAB,Others,Others,0.0
13,2014.0,jan,1/1/2014,NaN,M-CYCLE/SCOOTER,2-Wheelers,2W_Personal,1.0
14,2014.0,jan,1/1/2014,NaN,MOTOR CAB,4-Wheelers,4W_Shared,0.0
15,2014.0,jan,1/1/2014,NaN,MOTOR CAR,4-Wheelers,4W_Personal,0.0
16,2014.0,jan,1/1/2014,NaN,OMNI BUS,Bus,Bus,0.0
17,2014.0,jan,1/1/2014,NaN,PRIVATE SERVICE VEHICLE,Others,Others,0.0
18,2014.0,jan,1/1/2014,NaN,RECOVERY VEHICLE,Others,Others,0.0
19,2014.0,jan,1/1/2014,NaN,THREE WHEELER (PASSENGER),3-Wheelers,3W_Shared,0.0
20,2014.0,jan,1/1/2014,NaN,TRACTOR (COMMERCIAL),Others,Others,0.0
21,2014.0,jan,1/1/2014,NaN,TRAILER (AGRICULTURAL),Others,Others,0.0
22,2014.0,jan,1/1/2014,NaN,TRAILER (COMMERCIAL),Others,Others,0.0
23,2014.0,jan,1/1/2014,NaN,TRAILER FOR PERSONAL USE,Others,Others,0.0
24,2014.0,jan,1/1/2014,NaN,VEHICLE FITTED WITH RIG,Others,Others,0.0
25,2014.0,jan,1/1/2014,Arunachal Pradesh,AGRICULTURAL TRACTOR,Others,Others,0.0
26,2014.0,jan,1/1/2014,Arunachal Pradesh,BUS,Bus,Bus,0.0
27,2014.0,jan,1/1/2014,Arunachal Pradesh,CAMPER VAN / TRAILER,Others,Others,0.0
28,2014.0,jan,1/1/2014,Arunachal Pradesh,CONSTRUCTION EQUIPMENT VEHICLE (COMMERCIAL),Others,Others,0.0
29,2014.0,jan,1/1/2014,Arunachal Pradesh,CRANE MOUNTED VEHICLE,Others,Others,0.0
30,2014.0,jan,1/1/2014,Arunachal Pradesh,DUMPER,Others,Others,0.0
31,2014.0,jan,1/1/2014,Arunachal Pradesh,EXCAVATOR (COMMERCIAL),Others,Others,0.0
32,2014.0,jan,1/1/2014,Arunachal Pradesh,EXCAVATOR (NT),Others,Others,0.0
33,2014.0,jan,1/1/2014,Arunachal Pradesh,GOODS CARRIER,Others,Others,0.0
34,2014.0,jan,1/1/2014,Arunachal Pradesh,MAXI CAB,Others,Others,0.0
35,2014.0,jan,1/1/2014,Arunachal Pradesh,M-CYCLE/SCOOTER,2-Wheelers,2W_Personal,0.0
36,2014.0,jan,1/1/2014,Arunachal Pradesh,MOPED,2-Wheelers,2W_Personal,0.0
37,2014.0,jan,1/1/2014,Arunachal Pradesh,MOTOR CAB,4-Wheelers,4W_Shared,0.0
38,2014.0,jan,1/1/2014,Arunachal Pradesh,MOTOR CAR,4-Wheelers,4W_Personal,0.0
39,2014.0,jan,1/1/2014,Arunachal Pradesh,THREE WHEELER (PASSENGER),3-Wheelers,3W_Shared,0.0
40,2014.0,jan,1/1/2014,Arunachal Pradesh,THREE WHEELER (PERSONAL),3-Wheelers,3W_Personal,0.0
41,2014.0,jan,1/1/2014,Arunachal Pradesh,TRACTOR (COMMERCIAL),Others,Others,0.0
42,2014.0,jan,1/1/2014,Arunachal Pradesh,TRAILER (COMMERCIAL),Others,Others,0.0
43,2014.0,jan,1/1/2014,Assam,AGRICULTURAL TRACTOR,Others,Others,0.0
44,2014.0,jan,1/1/2014,Assam,AMBULANCE,Others,Others,0.0
45,2014.0,jan,1/1/2014,Assam,ARTICULATED VEHICLE,Others,Others,0.0
46,2014.0,jan,1/1/2014,Assam,BUS,Bus,Bus,0.0
47,2014.0,jan,1/1/2014,Assam,CAMPER VAN / TRAILER,Others,Others,0.0
48,2014.0,jan,1/1/2014,Assam,CRANE MOUNTED VEHICLE,Others,Others,0.0
49,2014.0,jan,1/1/2014,Assam,DUMPER,Others,Others,0.0

In [9]:
df.shape

(96845, 8)

In [10]:
df[["State"]]

                          State
0                           NaN
1                           NaN
2                           NaN
3                           NaN
4                           NaN
...                         ...
96840  Andaman & Nicobar Island
96841  Andaman & Nicobar Island
96842  Andaman & Nicobar Island
96843  Andaman & Nicobar Island
96844  Andaman & Nicobar Island

[96845 rows x 1 columns]

In [11]:
df[(df["Vehicle_Category"] == "Others") & (df["Vehicle_Type"] == "Others")]

,Year,Month_Name,Date,State,Vehicle_Class,Vehicle_Category,Vehicle_Type,EV_Sales_Quantity
0,2014.0,jan,1/1/2014,NaN,ADAPTED VEHICLE,Others,Others,0.0
1,2014.0,jan,1/1/2014,NaN,AGRICULTURAL TRACTOR,Others,Others,0.0
2,2014.0,jan,1/1/2014,NaN,AMBULANCE,Others,Others,0.0
3,2014.0,jan,1/1/2014,NaN,ARTICULATED VEHICLE,Others,Others,0.0
5,2014.0,jan,1/1/2014,NaN,CASH VAN,Others,Others,0.0
...,...,...,...,...,...,...,...,...
96825,2023.0,dec,12/1/2023,Goa,MAXI CAB,Others,Others,0.0
96829,2023.0,dec,12/1/2023,Goa,MOTOR CYCLE/SCOOTER-SIDECAR(T),Others,Others,0.0
96834,2023.0,dec,12/1/2023,Andaman & Nicobar Island,CONSTRUCTION EQUIPMENT VEHICLE,Others,Others,0.0
96835,2023.0,dec,12/1/2023,Andaman & Nicobar Island,GOODS CARRIER,Others,Others,0.0
96836,2023.0,dec,12/1/2023,Andaman & Nicobar Island,MAXI CAB,Others,Others,0.0

In [12]:
df[(df["Vehicle_Category"] == "Others") & (df["Vehicle_Type"] == "Others") & (df["Month_Name"] == "jan")]

,Year,Month_Name,Date,State,Vehicle_Class,Vehicle_Category,Vehicle_Type,EV_Sales_Quantity
0,2014.0,jan,1/1/2014,NaN,ADAPTED VEHICLE,Others,Others,0.0
1,2014.0,jan,1/1/2014,NaN,AGRICULTURAL TRACTOR,Others,Others,0.0
2,2014.0,jan,1/1/2014,NaN,AMBULANCE,Others,Others,0.0
3,2014.0,jan,1/1/2014,NaN,ARTICULATED VEHICLE,Others,Others,0.0
5,2014.0,jan,1/1/2014,NaN,CASH VAN,Others,Others,0.0
...,...,...,...,...,...,...,...,...
8848,2024.0,jan,1/1/2024,Karnataka,TRACTOR (COMMERCIAL),Others,Others,0.0
8849,2024.0,jan,1/1/2024,Karnataka,TRAILER (AGRICULTURAL),Others,Others,0.0
8850,2024.0,jan,1/1/2024,Karnataka,TRAILER (COMMERCIAL),Others,Others,0.0
8851,2024.0,jan,1/1/2024,Karnataka,VEHICLE FITTED WITH GENERATOR,Others,Others,0.0
8852,2024.0,jan,1/1/2024,Karnataka,VEHICLE FITTED WITH RIG,Others,Others,0.0

In [13]:
df.loc[(df["Vehicle_Category"] == "Others") & 
   (df["Vehicle_Type"] == "Others") & 
   (df["Month_Name"] == "jan"), "State"] = "Karnataka"

In [14]:
df.isnull().sum()

Year                    0
Month_Name              0
Date                    0
State                3251
Vehicle_Class           0
Vehicle_Category        0
Vehicle_Type            0
EV_Sales_Quantity       0
dtype: int64

In [15]:
df[df["State"].isna()].head(50)

,Year,Month_Name,Date,State,Vehicle_Class,Vehicle_Category,Vehicle_Type,EV_Sales_Quantity
4,2014.0,jan,1/1/2014,NaN,BUS,Bus,Bus,0.0
7,2014.0,jan,1/1/2014,NaN,EDUCATIONAL INSTITUTION BUS,Bus,Institution Bus,0.0
13,2014.0,jan,1/1/2014,NaN,M-CYCLE/SCOOTER,2-Wheelers,2W_Personal,1.0
14,2014.0,jan,1/1/2014,NaN,MOTOR CAB,4-Wheelers,4W_Shared,0.0
15,2014.0,jan,1/1/2014,NaN,MOTOR CAR,4-Wheelers,4W_Personal,0.0
16,2014.0,jan,1/1/2014,NaN,OMNI BUS,Bus,Bus,0.0
19,2014.0,jan,1/1/2014,NaN,THREE WHEELER (PASSENGER),3-Wheelers,3W_Shared,0.0
765,2015.0,jan,1/1/2015,NaN,BUS,Bus,Bus,0.0
768,2015.0,jan,1/1/2015,NaN,EDUCATIONAL INSTITUTION BUS,Bus,Institution Bus,0.0
774,2015.0,jan,1/1/2015,NaN,M-CYCLE/SCOOTER,2-Wheelers,2W_Personal,1.0
775,2015.0,jan,1/1/2015,NaN,M-CYCLE/SCOOTER-WITH SIDE CAR,2-Wheelers,2W_Personal,0.0
776,2015.0,jan,1/1/2015,NaN,MOTOR CAB,4-Wheelers,4W_Shared,0.0
777,2015.0,jan,1/1/2015,NaN,MOTOR CAR,4-Wheelers,4W_Personal,0.0
778,2015.0,jan,1/1/2015,NaN,OMNI BUS,Bus,Bus,0.0
782,2015.0,jan,1/1/2015,NaN,THREE WHEELER (PASSENGER),3-Wheelers,3W_Shared,0.0
1504,2016.0,jan,1/1/2016,NaN,BUS,Bus,Bus,0.0
1508,2016.0,jan,1/1/2016,NaN,EDUCATIONAL INSTITUTION BUS,Bus,Institution Bus,0.0
1514,2016.0,jan,1/1/2016,NaN,M-CYCLE/SCOOTER,2-Wheelers,2W_Personal,1.0
1516,2016.0,jan,1/1/2016,NaN,MOTOR CAB,4-Wheelers,4W_Shared,0.0
1517,2016.0,jan,1/1/2016,NaN,MOTOR CAR,4-Wheelers,4W_Personal,0.0
1518,2016.0,jan,1/1/2016,NaN,OMNI BUS,Bus,Bus,0.0
1522,2016.0,jan,1/1/2016,NaN,THREE WHEELER (PASSENGER),3-Wheelers,3W_Shared,0.0
2290,2017.0,jan,1/1/2017,NaN,BUS,Bus,Bus,0.0
2294,2017.0,jan,1/1/2017,NaN,EDUCATIONAL INSTITUTION BUS,Bus,Institution Bus,0.0
2301,2017.0,jan,1/1/2017,NaN,M-CYCLE/SCOOTER,2-Wheelers,2W_Personal,0.0
2302,2017.0,jan,1/1/2017,NaN,MOTOR CAB,4-Wheelers,4W_Shared,0.0
2303,2017.0,jan,1/1/2017,NaN,MOTOR CAR,4-Wheelers,4W_Personal,0.0
2304,2017.0,jan,1/1/2017,NaN,OMNI BUS,Bus,Bus,0.0
2307,2017.0,jan,1/1/2017,NaN,THREE WHEELER (PASSENGER),3-Wheelers,3W_Shared,0.0
3073,2018.0,jan,1/1/2018,NaN,BUS,Bus,Bus,0.0
3077,2018.0,jan,1/1/2018,NaN,EDUCATIONAL INSTITUTION BUS,Bus,Institution Bus,0.0
3083,2018.0,jan,1/1/2018,NaN,M-CYCLE/SCOOTER,2-Wheelers,2W_Personal,1.0
3084,2018.0,jan,1/1/2018,NaN,M-CYCLE/SCOOTER-WITH SIDE CAR,2-Wheelers,2W_Personal,0.0
3085,2018.0,jan,1/1/2018,NaN,MOTOR CAB,4-Wheelers,4W_Shared,0.0
3086,2018.0,jan,1/1/2018,NaN,MOTOR CAR,4-Wheelers,4W_Personal,0.0
3087,2018.0,jan,1/1/2018,NaN,OMNI BUS,Bus,Bus,0.0
3091,2018.0,jan,1/1/2018,NaN,THREE WHEELER (PASSENGER),3-Wheelers,3W_Shared,0.0
3930,2019.0,jan,1/1/2019,NaN,BUS,Bus,Bus,0.0
3934,2019.0,jan,1/1/2019,NaN,EDUCATIONAL INSTITUTION BUS,Bus,Institution Bus,0.0
3935,2019.0,jan,1/1/2019,NaN,E-RICKSHAW(P),3-Wheelers,3W_Shared_LowSpeed,5.0
3936,2019.0,jan,1/1/2019,NaN,E-RICKSHAW WITH CART (G),3-Wheelers,3W_Goods_LowSpeed,2.0
3943,2019.0,jan,1/1/2019,NaN,M-CYCLE/SCOOTER,2-Wheelers,2W_Personal,124.0
3944,2019.0,jan,1/1/2019,NaN,M-CYCLE/SCOOTER-WITH SIDE CAR,2-Wheelers,2W_Personal,0.0
3945,2019.0,jan,1/1/2019,NaN,MOTOR CAB,4-Wheelers,4W_Shared,0.0
3946,2019.0,jan,1/1/2019,NaN,MOTOR CAR,4-Wheelers,4W_Personal,0.0
3947,2019.0,jan,1/1/2019,NaN,OMNI BUS,Bus,Bus,1.0
3950,2019.0,jan,1/1/2019,NaN,THREE WHEELER (PASSENGER),3-Wheelers,3W_Shared,1.0
4786,2020.0,jan,1/1/2020,NaN,BUS,Bus,Bus,0.0
4790,2020.0,jan,1/1/2020,NaN,EDUCATIONAL INSTITUTION BUS,Bus,Institution Bus,0.0
4791,2020.0,jan,1/1/2020,NaN,E-RICKSHAW(P),3-Wheelers,3W_Shared_LowSpeed,2.0

In [16]:
df.loc[(df["Vehicle_Category"] == "Bus") & 
   (df["Vehicle_Type"] == "Bus") & 
   (df["Month_Name"] == "jan"), "State"] = "Assam"

In [17]:
df.isnull().sum()

Year                    0
Month_Name              0
Date                    0
State                3227
Vehicle_Class           0
Vehicle_Category        0
Vehicle_Type            0
EV_Sales_Quantity       0
dtype: int64

In [18]:
df[df["State"].isna()].head(50)

,Year,Month_Name,Date,State,Vehicle_Class,Vehicle_Category,Vehicle_Type,EV_Sales_Quantity
7,2014.0,jan,1/1/2014,NaN,EDUCATIONAL INSTITUTION BUS,Bus,Institution Bus,0.0
13,2014.0,jan,1/1/2014,NaN,M-CYCLE/SCOOTER,2-Wheelers,2W_Personal,1.0
14,2014.0,jan,1/1/2014,NaN,MOTOR CAB,4-Wheelers,4W_Shared,0.0
15,2014.0,jan,1/1/2014,NaN,MOTOR CAR,4-Wheelers,4W_Personal,0.0
19,2014.0,jan,1/1/2014,NaN,THREE WHEELER (PASSENGER),3-Wheelers,3W_Shared,0.0
768,2015.0,jan,1/1/2015,NaN,EDUCATIONAL INSTITUTION BUS,Bus,Institution Bus,0.0
774,2015.0,jan,1/1/2015,NaN,M-CYCLE/SCOOTER,2-Wheelers,2W_Personal,1.0
775,2015.0,jan,1/1/2015,NaN,M-CYCLE/SCOOTER-WITH SIDE CAR,2-Wheelers,2W_Personal,0.0
776,2015.0,jan,1/1/2015,NaN,MOTOR CAB,4-Wheelers,4W_Shared,0.0
777,2015.0,jan,1/1/2015,NaN,MOTOR CAR,4-Wheelers,4W_Personal,0.0
782,2015.0,jan,1/1/2015,NaN,THREE WHEELER (PASSENGER),3-Wheelers,3W_Shared,0.0
1508,2016.0,jan,1/1/2016,NaN,EDUCATIONAL INSTITUTION BUS,Bus,Institution Bus,0.0
1514,2016.0,jan,1/1/2016,NaN,M-CYCLE/SCOOTER,2-Wheelers,2W_Personal,1.0
1516,2016.0,jan,1/1/2016,NaN,MOTOR CAB,4-Wheelers,4W_Shared,0.0
1517,2016.0,jan,1/1/2016,NaN,MOTOR CAR,4-Wheelers,4W_Personal,0.0
1522,2016.0,jan,1/1/2016,NaN,THREE WHEELER (PASSENGER),3-Wheelers,3W_Shared,0.0
2294,2017.0,jan,1/1/2017,NaN,EDUCATIONAL INSTITUTION BUS,Bus,Institution Bus,0.0
2301,2017.0,jan,1/1/2017,NaN,M-CYCLE/SCOOTER,2-Wheelers,2W_Personal,0.0
2302,2017.0,jan,1/1/2017,NaN,MOTOR CAB,4-Wheelers,4W_Shared,0.0
2303,2017.0,jan,1/1/2017,NaN,MOTOR CAR,4-Wheelers,4W_Personal,0.0
2307,2017.0,jan,1/1/2017,NaN,THREE WHEELER (PASSENGER),3-Wheelers,3W_Shared,0.0
3077,2018.0,jan,1/1/2018,NaN,EDUCATIONAL INSTITUTION BUS,Bus,Institution Bus,0.0
3083,2018.0,jan,1/1/2018,NaN,M-CYCLE/SCOOTER,2-Wheelers,2W_Personal,1.0
3084,2018.0,jan,1/1/2018,NaN,M-CYCLE/SCOOTER-WITH SIDE CAR,2-Wheelers,2W_Personal,0.0
3085,2018.0,jan,1/1/2018,NaN,MOTOR CAB,4-Wheelers,4W_Shared,0.0
3086,2018.0,jan,1/1/2018,NaN,MOTOR CAR,4-Wheelers,4W_Personal,0.0
3091,2018.0,jan,1/1/2018,NaN,THREE WHEELER (PASSENGER),3-Wheelers,3W_Shared,0.0
3934,2019.0,jan,1/1/2019,NaN,EDUCATIONAL INSTITUTION BUS,Bus,Institution Bus,0.0
3935,2019.0,jan,1/1/2019,NaN,E-RICKSHAW(P),3-Wheelers,3W_Shared_LowSpeed,5.0
3936,2019.0,jan,1/1/2019,NaN,E-RICKSHAW WITH CART (G),3-Wheelers,3W_Goods_LowSpeed,2.0
3943,2019.0,jan,1/1/2019,NaN,M-CYCLE/SCOOTER,2-Wheelers,2W_Personal,124.0
3944,2019.0,jan,1/1/2019,NaN,M-CYCLE/SCOOTER-WITH SIDE CAR,2-Wheelers,2W_Personal,0.0
3945,2019.0,jan,1/1/2019,NaN,MOTOR CAB,4-Wheelers,4W_Shared,0.0
3946,2019.0,jan,1/1/2019,NaN,MOTOR CAR,4-Wheelers,4W_Personal,0.0
3950,2019.0,jan,1/1/2019,NaN,THREE WHEELER (PASSENGER),3-Wheelers,3W_Shared,1.0
4790,2020.0,jan,1/1/2020,NaN,EDUCATIONAL INSTITUTION BUS,Bus,Institution Bus,0.0
4791,2020.0,jan,1/1/2020,NaN,E-RICKSHAW(P),3-Wheelers,3W_Shared_LowSpeed,2.0
4792,2020.0,jan,1/1/2020,NaN,E-RICKSHAW WITH CART (G),3-Wheelers,3W_Goods_LowSpeed,37.0
4798,2020.0,jan,1/1/2020,NaN,M-CYCLE/SCOOTER,2-Wheelers,2W_Personal,67.0
4799,2020.0,jan,1/1/2020,NaN,M-CYCLE/SCOOTER-WITH SIDE CAR,2-Wheelers,2W_Personal,0.0
4800,2020.0,jan,1/1/2020,NaN,MOTOR CAB,4-Wheelers,4W_Shared,0.0
4801,2020.0,jan,1/1/2020,NaN,MOTOR CAR,4-Wheelers,4W_Personal,1.0
4806,2020.0,jan,1/1/2020,NaN,THREE WHEELER (PASSENGER),3-Wheelers,3W_Shared,9.0
4807,2020.0,jan,1/1/2020,NaN,THREE WHEELER (PERSONAL),3-Wheelers,3W_Personal,0.0
5656,2021.0,jan,1/1/2021,NaN,EDUCATIONAL INSTITUTION BUS,Bus,Institution Bus,0.0
5657,2021.0,jan,1/1/2021,NaN,E-RICKSHAW(P),3-Wheelers,3W_Shared_LowSpeed,31.0
5658,2021.0,jan,1/1/2021,NaN,E-RICKSHAW WITH CART (G),3-Wheelers,3W_Goods_LowSpeed,8.0
5664,2021.0,jan,1/1/2021,NaN,M-CYCLE/SCOOTER,2-Wheelers,2W_Personal,231.0
5665,2021.0,jan,1/1/2021,NaN,M-CYCLE/SCOOTER-WITH SIDE CAR,2-Wheelers,2W_Personal,0.0
5667,2021.0,jan,1/1/2021,NaN,MOTOR CAB,4-Wheelers,4W_Shared,0.0

In [19]:
df.loc[(df["Vehicle_Class"] == "THREE WHEELER(PERSONAL)") &
      (df["Vehicle_Type"] == "3W_Personal") &
      (df["Month_Name"] == "jan"), "State"] = "Karnataka"

In [20]:
df.isnull().sum()

Year                    0
Month_Name              0
Date                    0
State                3227
Vehicle_Class           0
Vehicle_Category        0
Vehicle_Type            0
EV_Sales_Quantity       0
dtype: int64

In [21]:
df.loc[(df["Year"].isin([2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0])) &
       (df["Vehicle_Category"] == "4-Wheelers") &
      (df["Month_Name"] == "feb") , "State"] = "Karnataka"

In [22]:
df.isnull().sum()

Year                    0
Month_Name              0
Date                    0
State                3211
Vehicle_Class           0
Vehicle_Category        0
Vehicle_Type            0
EV_Sales_Quantity       0
dtype: int64

In [23]:
df.loc[(df["Year"].isin([2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0])) &
       (df["Vehicle_Category"] == "4-Wheelers") &
      (df["Month_Name"] == "jan") , "State"] = "Karnataka"

In [24]:
df.isnull().sum()

Year                    0
Month_Name              0
Date                    0
State                3195
Vehicle_Class           0
Vehicle_Category        0
Vehicle_Type            0
EV_Sales_Quantity       0
dtype: int64

In [25]:
df.loc[(df["Year"].isin([2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0])) &
       (df["Vehicle_Category"] == "4-Wheelers") &
      (df["Month_Name"] == "mar") , "State"] = "Karnataka"

In [26]:
df.isnull().sum()

Year                    0
Month_Name              0
Date                    0
State                3179
Vehicle_Class           0
Vehicle_Category        0
Vehicle_Type            0
EV_Sales_Quantity       0
dtype: int64

In [27]:
df[df["State"].isna()].head(50)

,Year,Month_Name,Date,State,Vehicle_Class,Vehicle_Category,Vehicle_Type,EV_Sales_Quantity
7,2014.0,jan,1/1/2014,NaN,EDUCATIONAL INSTITUTION BUS,Bus,Institution Bus,0.0
13,2014.0,jan,1/1/2014,NaN,M-CYCLE/SCOOTER,2-Wheelers,2W_Personal,1.0
19,2014.0,jan,1/1/2014,NaN,THREE WHEELER (PASSENGER),3-Wheelers,3W_Shared,0.0
768,2015.0,jan,1/1/2015,NaN,EDUCATIONAL INSTITUTION BUS,Bus,Institution Bus,0.0
774,2015.0,jan,1/1/2015,NaN,M-CYCLE/SCOOTER,2-Wheelers,2W_Personal,1.0
775,2015.0,jan,1/1/2015,NaN,M-CYCLE/SCOOTER-WITH SIDE CAR,2-Wheelers,2W_Personal,0.0
782,2015.0,jan,1/1/2015,NaN,THREE WHEELER (PASSENGER),3-Wheelers,3W_Shared,0.0
1508,2016.0,jan,1/1/2016,NaN,EDUCATIONAL INSTITUTION BUS,Bus,Institution Bus,0.0
1514,2016.0,jan,1/1/2016,NaN,M-CYCLE/SCOOTER,2-Wheelers,2W_Personal,1.0
1522,2016.0,jan,1/1/2016,NaN,THREE WHEELER (PASSENGER),3-Wheelers,3W_Shared,0.0
2294,2017.0,jan,1/1/2017,NaN,EDUCATIONAL INSTITUTION BUS,Bus,Institution Bus,0.0
2301,2017.0,jan,1/1/2017,NaN,M-CYCLE/SCOOTER,2-Wheelers,2W_Personal,0.0
2307,2017.0,jan,1/1/2017,NaN,THREE WHEELER (PASSENGER),3-Wheelers,3W_Shared,0.0
3077,2018.0,jan,1/1/2018,NaN,EDUCATIONAL INSTITUTION BUS,Bus,Institution Bus,0.0
3083,2018.0,jan,1/1/2018,NaN,M-CYCLE/SCOOTER,2-Wheelers,2W_Personal,1.0
3084,2018.0,jan,1/1/2018,NaN,M-CYCLE/SCOOTER-WITH SIDE CAR,2-Wheelers,2W_Personal,0.0
3091,2018.0,jan,1/1/2018,NaN,THREE WHEELER (PASSENGER),3-Wheelers,3W_Shared,0.0
3934,2019.0,jan,1/1/2019,NaN,EDUCATIONAL INSTITUTION BUS,Bus,Institution Bus,0.0
3935,2019.0,jan,1/1/2019,NaN,E-RICKSHAW(P),3-Wheelers,3W_Shared_LowSpeed,5.0
3936,2019.0,jan,1/1/2019,NaN,E-RICKSHAW WITH CART (G),3-Wheelers,3W_Goods_LowSpeed,2.0
3943,2019.0,jan,1/1/2019,NaN,M-CYCLE/SCOOTER,2-Wheelers,2W_Personal,124.0
3944,2019.0,jan,1/1/2019,NaN,M-CYCLE/SCOOTER-WITH SIDE CAR,2-Wheelers,2W_Personal,0.0
3950,2019.0,jan,1/1/2019,NaN,THREE WHEELER (PASSENGER),3-Wheelers,3W_Shared,1.0
4790,2020.0,jan,1/1/2020,NaN,EDUCATIONAL INSTITUTION BUS,Bus,Institution Bus,0.0
4791,2020.0,jan,1/1/2020,NaN,E-RICKSHAW(P),3-Wheelers,3W_Shared_LowSpeed,2.0
4792,2020.0,jan,1/1/2020,NaN,E-RICKSHAW WITH CART (G),3-Wheelers,3W_Goods_LowSpeed,37.0
4798,2020.0,jan,1/1/2020,NaN,M-CYCLE/SCOOTER,2-Wheelers,2W_Personal,67.0
4799,2020.0,jan,1/1/2020,NaN,M-CYCLE/SCOOTER-WITH SIDE CAR,2-Wheelers,2W_Personal,0.0
4806,2020.0,jan,1/1/2020,NaN,THREE WHEELER (PASSENGER),3-Wheelers,3W_Shared,9.0
4807,2020.0,jan,1/1/2020,NaN,THREE WHEELER (PERSONAL),3-Wheelers,3W_Personal,0.0
5656,2021.0,jan,1/1/2021,NaN,EDUCATIONAL INSTITUTION BUS,Bus,Institution Bus,0.0
5657,2021.0,jan,1/1/2021,NaN,E-RICKSHAW(P),3-Wheelers,3W_Shared_LowSpeed,31.0
5658,2021.0,jan,1/1/2021,NaN,E-RICKSHAW WITH CART (G),3-Wheelers,3W_Goods_LowSpeed,8.0
5664,2021.0,jan,1/1/2021,NaN,M-CYCLE/SCOOTER,2-Wheelers,2W_Personal,231.0
5665,2021.0,jan,1/1/2021,NaN,M-CYCLE/SCOOTER-WITH SIDE CAR,2-Wheelers,2W_Personal,0.0
5672,2021.0,jan,1/1/2021,NaN,THREE WHEELER (PASSENGER),3-Wheelers,3W_Shared,9.0
6442,2022.0,jan,1/1/2022,NaN,EDUCATIONAL INSTITUTION BUS,Bus,Institution Bus,0.0
6443,2022.0,jan,1/1/2022,NaN,E-RICKSHAW(P),3-Wheelers,3W_Shared_LowSpeed,2.0
6444,2022.0,jan,1/1/2022,NaN,E-RICKSHAW WITH CART (G),3-Wheelers,3W_Goods_LowSpeed,4.0
6451,2022.0,jan,1/1/2022,NaN,M-CYCLE/SCOOTER,2-Wheelers,2W_Personal,1670.0
6452,2022.0,jan,1/1/2022,NaN,M-CYCLE/SCOOTER-WITH SIDE CAR,2-Wheelers,2W_Personal,1.0
6453,2022.0,jan,1/1/2022,NaN,MOTOR CAB,4-Wheelers,4W_Shared,0.0
6454,2022.0,jan,1/1/2022,NaN,MOTOR CAR,4-Wheelers,4W_Personal,29.0
6458,2022.0,jan,1/1/2022,NaN,THREE WHEELER (PASSENGER),3-Wheelers,3W_Shared,39.0
7176,2023.0,jan,1/1/2023,NaN,EDUCATIONAL INSTITUTION BUS,Bus,Institution Bus,0.0
7177,2023.0,jan,1/1/2023,NaN,E-RICKSHAW WITH CART (G),3-Wheelers,3W_Goods_LowSpeed,3.0
7183,2023.0,jan,1/1/2023,NaN,M-CYCLE/SCOOTER,2-Wheelers,2W_Personal,2420.0
7184,2023.0,jan,1/1/2023,NaN,M-CYCLE/SCOOTER-WITH SIDE CAR,2-Wheelers,2W_Personal,0.0
7186,2023.0,jan,1/1/2023,NaN,MOPED,2-Wheelers,2W_Personal,16.0
7187,2023.0,jan,1/1/2023,NaN,MOTOR CAB,4-Wheelers,4W_Shared,1.0

In [28]:
df[df["State"].isna()].tail(50)

,Year,Month_Name,Date,State,Vehicle_Class,Vehicle_Category,Vehicle_Type,EV_Sales_Quantity
95227,2022.0,dec,12/1/2022,NaN,FORK LIFT,Others,Others,0.0
95228,2022.0,dec,12/1/2022,NaN,GOODS CARRIER,Others,Others,63.0
95229,2022.0,dec,12/1/2022,NaN,HARVESTER,Others,Others,0.0
95230,2022.0,dec,12/1/2022,NaN,MAXI CAB,Others,Others,0.0
95231,2022.0,dec,12/1/2022,NaN,M-CYCLE/SCOOTER,2-Wheelers,2W_Personal,2363.0
95232,2022.0,dec,12/1/2022,NaN,M-CYCLE/SCOOTER-WITH SIDE CAR,2-Wheelers,2W_Personal,0.0
95233,2022.0,dec,12/1/2022,NaN,MOPED,2-Wheelers,2W_Personal,6.0
95234,2022.0,dec,12/1/2022,NaN,MOTOR CAB,4-Wheelers,4W_Shared,1.0
95235,2022.0,dec,12/1/2022,NaN,MOTOR CAR,4-Wheelers,4W_Personal,119.0
95236,2022.0,dec,12/1/2022,NaN,MOTOR CYCLE/SCOOTER-USED FOR HIRE,2-Wheelers,2W_Shared,1.0
95237,2022.0,dec,12/1/2022,NaN,MOTORISED CYCLE (CC > 25CC),2-Wheelers,2W_Personal,348.0
95238,2022.0,dec,12/1/2022,NaN,OMNI BUS,Bus,Bus,0.0
95239,2022.0,dec,12/1/2022,NaN,OMNI BUS (PRIVATE USE),Bus,Bus,0.0
95240,2022.0,dec,12/1/2022,NaN,PRIVATE SERVICE VEHICLE,Others,Others,0.0
95241,2022.0,dec,12/1/2022,NaN,RECOVERY VEHICLE,Others,Others,0.0
95242,2022.0,dec,12/1/2022,NaN,ROAD ROLLER,Others,Others,0.0
95243,2022.0,dec,12/1/2022,NaN,THREE WHEELER (GOODS),3-Wheelers,3W_Goods,1.0
95244,2022.0,dec,12/1/2022,NaN,THREE WHEELER (PASSENGER),3-Wheelers,3W_Shared,31.0
95245,2022.0,dec,12/1/2022,NaN,TRACTOR (COMMERCIAL),Others,Others,0.0
95246,2022.0,dec,12/1/2022,NaN,VEHICLE FITTED WITH RIG,Others,Others,0.0
95993,2023.0,dec,12/1/2023,NaN,ADAPTED VEHICLE,Others,Others,1.0
95994,2023.0,dec,12/1/2023,NaN,AGRICULTURAL TRACTOR,Others,Others,0.0
95995,2023.0,dec,12/1/2023,NaN,AMBULANCE,Others,Others,0.0
95996,2023.0,dec,12/1/2023,NaN,ARTICULATED VEHICLE,Others,Others,0.0
95997,2023.0,dec,12/1/2023,NaN,AUXILIARY TRAILER,Others,Others,0.0
95998,2023.0,dec,12/1/2023,NaN,BUS,Bus,Bus,0.0
95999,2023.0,dec,12/1/2023,NaN,CASH VAN,Others,Others,0.0
96000,2023.0,dec,12/1/2023,NaN,CONSTRUCTION EQUIPMENT VEHICLE,Others,Others,0.0
96001,2023.0,dec,12/1/2023,NaN,CRANE MOUNTED VEHICLE,Others,Others,0.0
96002,2023.0,dec,12/1/2023,NaN,E-RICKSHAW(P),3-Wheelers,3W_Shared_LowSpeed,2.0
96003,2023.0,dec,12/1/2023,NaN,E-RICKSHAW WITH CART (G),3-Wheelers,3W_Goods_LowSpeed,6.0
96004,2023.0,dec,12/1/2023,NaN,EXCAVATOR (NT),Others,Others,0.0
96005,2023.0,dec,12/1/2023,NaN,FORK LIFT,Others,Others,0.0
96006,2023.0,dec,12/1/2023,NaN,GOODS CARRIER,Others,Others,0.0
96007,2023.0,dec,12/1/2023,NaN,HARVESTER,Others,Others,0.0
96008,2023.0,dec,12/1/2023,NaN,LUXURY CAB,4-Wheelers,4W_Shared,0.0
96009,2023.0,dec,12/1/2023,NaN,MAXI CAB,Others,Others,0.0
96010,2023.0,dec,12/1/2023,NaN,M-CYCLE/SCOOTER,2-Wheelers,2W_Personal,2283.0
96011,2023.0,dec,12/1/2023,NaN,M-CYCLE/SCOOTER-WITH SIDE CAR,2-Wheelers,2W_Personal,0.0
96012,2023.0,dec,12/1/2023,NaN,MOPED,2-Wheelers,2W_Personal,0.0
96013,2023.0,dec,12/1/2023,NaN,MOTOR CAB,4-Wheelers,4W_Shared,1.0
96014,2023.0,dec,12/1/2023,NaN,MOTOR CAR,4-Wheelers,4W_Personal,129.0
96015,2023.0,dec,12/1/2023,NaN,MOTOR CYCLE/SCOOTER-USED FOR HIRE,2-Wheelers,2W_Shared,0.0
96016,2023.0,dec,12/1/2023,NaN,MOTORISED CYCLE (CC > 25CC),2-Wheelers,2W_Personal,89.0
96017,2023.0,dec,12/1/2023,NaN,OMNI BUS,Bus,Bus,0.0
96018,2023.0,dec,12/1/2023,NaN,OMNI BUS (PRIVATE USE),Bus,Bus,0.0
96019,2023.0,dec,12/1/2023,NaN,ROAD ROLLER,Others,Others,0.0
96020,2023.0,dec,12/1/2023,NaN,THREE WHEELER (GOODS),3-Wheelers,3W_Goods,24.0
96021,2023.0,dec,12/1/2023,NaN,THREE WHEELER (PASSENGER),3-Wheelers,3W_Shared,48.0
96022,2023.0,dec,12/1/2023,NaN,TRACTOR (COMMERCIAL),Others,Others,0.0

In [29]:
df.loc[(df["Year"].isin([2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0,2023.0])) &
       (df["Vehicle_Category"] == "Others"), "State"] = "Karnataka"

In [30]:
df.isnull().sum()

Year                    0
Month_Name              0
Date                    0
State                1103
Vehicle_Class           0
Vehicle_Category        0
Vehicle_Type            0
EV_Sales_Quantity       0
dtype: int64

In [31]:
df[df["State"].isna()].head(50)

,Year,Month_Name,Date,State,Vehicle_Class,Vehicle_Category,Vehicle_Type,EV_Sales_Quantity
7,2014.0,jan,1/1/2014,NaN,EDUCATIONAL INSTITUTION BUS,Bus,Institution Bus,0.0
13,2014.0,jan,1/1/2014,NaN,M-CYCLE/SCOOTER,2-Wheelers,2W_Personal,1.0
19,2014.0,jan,1/1/2014,NaN,THREE WHEELER (PASSENGER),3-Wheelers,3W_Shared,0.0
768,2015.0,jan,1/1/2015,NaN,EDUCATIONAL INSTITUTION BUS,Bus,Institution Bus,0.0
774,2015.0,jan,1/1/2015,NaN,M-CYCLE/SCOOTER,2-Wheelers,2W_Personal,1.0
775,2015.0,jan,1/1/2015,NaN,M-CYCLE/SCOOTER-WITH SIDE CAR,2-Wheelers,2W_Personal,0.0
782,2015.0,jan,1/1/2015,NaN,THREE WHEELER (PASSENGER),3-Wheelers,3W_Shared,0.0
1508,2016.0,jan,1/1/2016,NaN,EDUCATIONAL INSTITUTION BUS,Bus,Institution Bus,0.0
1514,2016.0,jan,1/1/2016,NaN,M-CYCLE/SCOOTER,2-Wheelers,2W_Personal,1.0
1522,2016.0,jan,1/1/2016,NaN,THREE WHEELER (PASSENGER),3-Wheelers,3W_Shared,0.0
2294,2017.0,jan,1/1/2017,NaN,EDUCATIONAL INSTITUTION BUS,Bus,Institution Bus,0.0
2301,2017.0,jan,1/1/2017,NaN,M-CYCLE/SCOOTER,2-Wheelers,2W_Personal,0.0
2307,2017.0,jan,1/1/2017,NaN,THREE WHEELER (PASSENGER),3-Wheelers,3W_Shared,0.0
3077,2018.0,jan,1/1/2018,NaN,EDUCATIONAL INSTITUTION BUS,Bus,Institution Bus,0.0
3083,2018.0,jan,1/1/2018,NaN,M-CYCLE/SCOOTER,2-Wheelers,2W_Personal,1.0
3084,2018.0,jan,1/1/2018,NaN,M-CYCLE/SCOOTER-WITH SIDE CAR,2-Wheelers,2W_Personal,0.0
3091,2018.0,jan,1/1/2018,NaN,THREE WHEELER (PASSENGER),3-Wheelers,3W_Shared,0.0
3934,2019.0,jan,1/1/2019,NaN,EDUCATIONAL INSTITUTION BUS,Bus,Institution Bus,0.0
3935,2019.0,jan,1/1/2019,NaN,E-RICKSHAW(P),3-Wheelers,3W_Shared_LowSpeed,5.0
3936,2019.0,jan,1/1/2019,NaN,E-RICKSHAW WITH CART (G),3-Wheelers,3W_Goods_LowSpeed,2.0
3943,2019.0,jan,1/1/2019,NaN,M-CYCLE/SCOOTER,2-Wheelers,2W_Personal,124.0
3944,2019.0,jan,1/1/2019,NaN,M-CYCLE/SCOOTER-WITH SIDE CAR,2-Wheelers,2W_Personal,0.0
3950,2019.0,jan,1/1/2019,NaN,THREE WHEELER (PASSENGER),3-Wheelers,3W_Shared,1.0
4790,2020.0,jan,1/1/2020,NaN,EDUCATIONAL INSTITUTION BUS,Bus,Institution Bus,0.0
4791,2020.0,jan,1/1/2020,NaN,E-RICKSHAW(P),3-Wheelers,3W_Shared_LowSpeed,2.0
4792,2020.0,jan,1/1/2020,NaN,E-RICKSHAW WITH CART (G),3-Wheelers,3W_Goods_LowSpeed,37.0
4798,2020.0,jan,1/1/2020,NaN,M-CYCLE/SCOOTER,2-Wheelers,2W_Personal,67.0
4799,2020.0,jan,1/1/2020,NaN,M-CYCLE/SCOOTER-WITH SIDE CAR,2-Wheelers,2W_Personal,0.0
4806,2020.0,jan,1/1/2020,NaN,THREE WHEELER (PASSENGER),3-Wheelers,3W_Shared,9.0
4807,2020.0,jan,1/1/2020,NaN,THREE WHEELER (PERSONAL),3-Wheelers,3W_Personal,0.0
5656,2021.0,jan,1/1/2021,NaN,EDUCATIONAL INSTITUTION BUS,Bus,Institution Bus,0.0
5657,2021.0,jan,1/1/2021,NaN,E-RICKSHAW(P),3-Wheelers,3W_Shared_LowSpeed,31.0
5658,2021.0,jan,1/1/2021,NaN,E-RICKSHAW WITH CART (G),3-Wheelers,3W_Goods_LowSpeed,8.0
5664,2021.0,jan,1/1/2021,NaN,M-CYCLE/SCOOTER,2-Wheelers,2W_Personal,231.0
5665,2021.0,jan,1/1/2021,NaN,M-CYCLE/SCOOTER-WITH SIDE CAR,2-Wheelers,2W_Personal,0.0
5672,2021.0,jan,1/1/2021,NaN,THREE WHEELER (PASSENGER),3-Wheelers,3W_Shared,9.0
6442,2022.0,jan,1/1/2022,NaN,EDUCATIONAL INSTITUTION BUS,Bus,Institution Bus,0.0
6443,2022.0,jan,1/1/2022,NaN,E-RICKSHAW(P),3-Wheelers,3W_Shared_LowSpeed,2.0
6444,2022.0,jan,1/1/2022,NaN,E-RICKSHAW WITH CART (G),3-Wheelers,3W_Goods_LowSpeed,4.0
6451,2022.0,jan,1/1/2022,NaN,M-CYCLE/SCOOTER,2-Wheelers,2W_Personal,1670.0
6452,2022.0,jan,1/1/2022,NaN,M-CYCLE/SCOOTER-WITH SIDE CAR,2-Wheelers,2W_Personal,1.0
6453,2022.0,jan,1/1/2022,NaN,MOTOR CAB,4-Wheelers,4W_Shared,0.0
6454,2022.0,jan,1/1/2022,NaN,MOTOR CAR,4-Wheelers,4W_Personal,29.0
6458,2022.0,jan,1/1/2022,NaN,THREE WHEELER (PASSENGER),3-Wheelers,3W_Shared,39.0
7176,2023.0,jan,1/1/2023,NaN,EDUCATIONAL INSTITUTION BUS,Bus,Institution Bus,0.0
7177,2023.0,jan,1/1/2023,NaN,E-RICKSHAW WITH CART (G),3-Wheelers,3W_Goods_LowSpeed,3.0
7183,2023.0,jan,1/1/2023,NaN,M-CYCLE/SCOOTER,2-Wheelers,2W_Personal,2420.0
7184,2023.0,jan,1/1/2023,NaN,M-CYCLE/SCOOTER-WITH SIDE CAR,2-Wheelers,2W_Personal,0.0
7186,2023.0,jan,1/1/2023,NaN,MOPED,2-Wheelers,2W_Personal,16.0
7187,2023.0,jan,1/1/2023,NaN,MOTOR CAB,4-Wheelers,4W_Shared,1.0

In [32]:
df.loc[(df["Year"].isin([2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0,2023.0])) &
       (df["Vehicle_Type"] == "Institution Bus"), "State"] = "Karnataka"

In [33]:
df.isnull().sum()

Year                   0
Month_Name             0
Date                   0
State                991
Vehicle_Class          0
Vehicle_Category       0
Vehicle_Type           0
EV_Sales_Quantity      0
dtype: int64

In [34]:
df[df["State"].isna()].head(50)

,Year,Month_Name,Date,State,Vehicle_Class,Vehicle_Category,Vehicle_Type,EV_Sales_Quantity
13,2014.0,jan,1/1/2014,NaN,M-CYCLE/SCOOTER,2-Wheelers,2W_Personal,1.0
19,2014.0,jan,1/1/2014,NaN,THREE WHEELER (PASSENGER),3-Wheelers,3W_Shared,0.0
774,2015.0,jan,1/1/2015,NaN,M-CYCLE/SCOOTER,2-Wheelers,2W_Personal,1.0
775,2015.0,jan,1/1/2015,NaN,M-CYCLE/SCOOTER-WITH SIDE CAR,2-Wheelers,2W_Personal,0.0
782,2015.0,jan,1/1/2015,NaN,THREE WHEELER (PASSENGER),3-Wheelers,3W_Shared,0.0
1514,2016.0,jan,1/1/2016,NaN,M-CYCLE/SCOOTER,2-Wheelers,2W_Personal,1.0
1522,2016.0,jan,1/1/2016,NaN,THREE WHEELER (PASSENGER),3-Wheelers,3W_Shared,0.0
2301,2017.0,jan,1/1/2017,NaN,M-CYCLE/SCOOTER,2-Wheelers,2W_Personal,0.0
2307,2017.0,jan,1/1/2017,NaN,THREE WHEELER (PASSENGER),3-Wheelers,3W_Shared,0.0
3083,2018.0,jan,1/1/2018,NaN,M-CYCLE/SCOOTER,2-Wheelers,2W_Personal,1.0
3084,2018.0,jan,1/1/2018,NaN,M-CYCLE/SCOOTER-WITH SIDE CAR,2-Wheelers,2W_Personal,0.0
3091,2018.0,jan,1/1/2018,NaN,THREE WHEELER (PASSENGER),3-Wheelers,3W_Shared,0.0
3935,2019.0,jan,1/1/2019,NaN,E-RICKSHAW(P),3-Wheelers,3W_Shared_LowSpeed,5.0
3936,2019.0,jan,1/1/2019,NaN,E-RICKSHAW WITH CART (G),3-Wheelers,3W_Goods_LowSpeed,2.0
3943,2019.0,jan,1/1/2019,NaN,M-CYCLE/SCOOTER,2-Wheelers,2W_Personal,124.0
3944,2019.0,jan,1/1/2019,NaN,M-CYCLE/SCOOTER-WITH SIDE CAR,2-Wheelers,2W_Personal,0.0
3950,2019.0,jan,1/1/2019,NaN,THREE WHEELER (PASSENGER),3-Wheelers,3W_Shared,1.0
4791,2020.0,jan,1/1/2020,NaN,E-RICKSHAW(P),3-Wheelers,3W_Shared_LowSpeed,2.0
4792,2020.0,jan,1/1/2020,NaN,E-RICKSHAW WITH CART (G),3-Wheelers,3W_Goods_LowSpeed,37.0
4798,2020.0,jan,1/1/2020,NaN,M-CYCLE/SCOOTER,2-Wheelers,2W_Personal,67.0
4799,2020.0,jan,1/1/2020,NaN,M-CYCLE/SCOOTER-WITH SIDE CAR,2-Wheelers,2W_Personal,0.0
4806,2020.0,jan,1/1/2020,NaN,THREE WHEELER (PASSENGER),3-Wheelers,3W_Shared,9.0
4807,2020.0,jan,1/1/2020,NaN,THREE WHEELER (PERSONAL),3-Wheelers,3W_Personal,0.0
5657,2021.0,jan,1/1/2021,NaN,E-RICKSHAW(P),3-Wheelers,3W_Shared_LowSpeed,31.0
5658,2021.0,jan,1/1/2021,NaN,E-RICKSHAW WITH CART (G),3-Wheelers,3W_Goods_LowSpeed,8.0
5664,2021.0,jan,1/1/2021,NaN,M-CYCLE/SCOOTER,2-Wheelers,2W_Personal,231.0
5665,2021.0,jan,1/1/2021,NaN,M-CYCLE/SCOOTER-WITH SIDE CAR,2-Wheelers,2W_Personal,0.0
5672,2021.0,jan,1/1/2021,NaN,THREE WHEELER (PASSENGER),3-Wheelers,3W_Shared,9.0
6443,2022.0,jan,1/1/2022,NaN,E-RICKSHAW(P),3-Wheelers,3W_Shared_LowSpeed,2.0
6444,2022.0,jan,1/1/2022,NaN,E-RICKSHAW WITH CART (G),3-Wheelers,3W_Goods_LowSpeed,4.0
6451,2022.0,jan,1/1/2022,NaN,M-CYCLE/SCOOTER,2-Wheelers,2W_Personal,1670.0
6452,2022.0,jan,1/1/2022,NaN,M-CYCLE/SCOOTER-WITH SIDE CAR,2-Wheelers,2W_Personal,1.0
6453,2022.0,jan,1/1/2022,NaN,MOTOR CAB,4-Wheelers,4W_Shared,0.0
6454,2022.0,jan,1/1/2022,NaN,MOTOR CAR,4-Wheelers,4W_Personal,29.0
6458,2022.0,jan,1/1/2022,NaN,THREE WHEELER (PASSENGER),3-Wheelers,3W_Shared,39.0
7177,2023.0,jan,1/1/2023,NaN,E-RICKSHAW WITH CART (G),3-Wheelers,3W_Goods_LowSpeed,3.0
7183,2023.0,jan,1/1/2023,NaN,M-CYCLE/SCOOTER,2-Wheelers,2W_Personal,2420.0
7184,2023.0,jan,1/1/2023,NaN,M-CYCLE/SCOOTER-WITH SIDE CAR,2-Wheelers,2W_Personal,0.0
7186,2023.0,jan,1/1/2023,NaN,MOPED,2-Wheelers,2W_Personal,16.0
7187,2023.0,jan,1/1/2023,NaN,MOTOR CAB,4-Wheelers,4W_Shared,1.0
7188,2023.0,jan,1/1/2023,NaN,MOTOR CAR,4-Wheelers,4W_Personal,120.0
7189,2023.0,jan,1/1/2023,NaN,MOTOR CYCLE/SCOOTER-USED FOR HIRE,2-Wheelers,2W_Shared,0.0
7190,2023.0,jan,1/1/2023,NaN,MOTORISED CYCLE (CC > 25CC),2-Wheelers,2W_Personal,244.0
7195,2023.0,jan,1/1/2023,NaN,THREE WHEELER (GOODS),3-Wheelers,3W_Goods,1.0
7196,2023.0,jan,1/1/2023,NaN,THREE WHEELER (PASSENGER),3-Wheelers,3W_Shared,28.0
8466,2024.0,jan,1/1/2024,NaN,E-RICKSHAW(P),3-Wheelers,3W_Shared_LowSpeed,5.0
8467,2024.0,jan,1/1/2024,NaN,E-RICKSHAW WITH CART (G),3-Wheelers,3W_Goods_LowSpeed,10.0
8471,2024.0,jan,1/1/2024,NaN,LUXURY CAB,4-Wheelers,4W_Shared,0.0
8473,2024.0,jan,1/1/2024,NaN,M-CYCLE/SCOOTER,2-Wheelers,2W_Personal,2047.0
8474,2024.0,jan,1/1/2024,NaN,M-CYCLE/SCOOTER-WITH SIDE CAR,2-Wheelers,2W_Personal,0.0

In [35]:
df.loc[(df["Year"].isin([2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0,2023.0])) &
       (df["Vehicle_Type"] == "2W_Personal"), "State"] = "Karnataka"

In [36]:
df.isnull().sum()

Year                   0
Month_Name             0
Date                   0
State                734
Vehicle_Class          0
Vehicle_Category       0
Vehicle_Type           0
EV_Sales_Quantity      0
dtype: int64

In [37]:
df.loc[(df["Year"].isin([2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0,2023.0])) &
       (df["Vehicle_Category"] == "2-Wheelers"), "State"] = "Karnataka"

In [38]:
df.isnull().sum()

Year                   0
Month_Name             0
Date                   0
State                721
Vehicle_Class          0
Vehicle_Category       0
Vehicle_Type           0
EV_Sales_Quantity      0
dtype: int64

In [39]:
df.loc[(df["Year"].isin([2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0,2023.0])) &
       (df["Vehicle_Category"] == "3-Wheelers"), "State"] = "Karnataka"

In [40]:
df.isnull().sum()

Year                   0
Month_Name             0
Date                   0
State                453
Vehicle_Class          0
Vehicle_Category       0
Vehicle_Type           0
EV_Sales_Quantity      0
dtype: int64

In [41]:
df.loc[(df["Year"].isin([2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0,2023.0])) &
       (df["Vehicle_Category"] == "4-Wheelers"), "State"] = "Karnataka"

In [42]:
df.isnull().sum()

Year                   0
Month_Name             0
Date                   0
State                249
Vehicle_Class          0
Vehicle_Category       0
Vehicle_Type           0
EV_Sales_Quantity      0
dtype: int64

In [43]:
df[df["State"].isna()].head(50)

,Year,Month_Name,Date,State,Vehicle_Class,Vehicle_Category,Vehicle_Type,EV_Sales_Quantity
8466,2024.0,jan,1/1/2024,NaN,E-RICKSHAW(P),3-Wheelers,3W_Shared_LowSpeed,5.0
8467,2024.0,jan,1/1/2024,NaN,E-RICKSHAW WITH CART (G),3-Wheelers,3W_Goods_LowSpeed,10.0
8471,2024.0,jan,1/1/2024,NaN,LUXURY CAB,4-Wheelers,4W_Shared,0.0
8473,2024.0,jan,1/1/2024,NaN,M-CYCLE/SCOOTER,2-Wheelers,2W_Personal,2047.0
8474,2024.0,jan,1/1/2024,NaN,M-CYCLE/SCOOTER-WITH SIDE CAR,2-Wheelers,2W_Personal,0.0
8475,2024.0,jan,1/1/2024,NaN,MOPED,2-Wheelers,2W_Personal,0.0
8476,2024.0,jan,1/1/2024,NaN,MOTOR CAB,4-Wheelers,4W_Shared,2.0
8477,2024.0,jan,1/1/2024,NaN,MOTOR CAR,4-Wheelers,4W_Personal,121.0
8478,2024.0,jan,1/1/2024,NaN,MOTOR CYCLE/SCOOTER-USED FOR HIRE,2-Wheelers,2W_Shared,0.0
8479,2024.0,jan,1/1/2024,NaN,MOTORISED CYCLE (CC > 25CC),2-Wheelers,2W_Personal,87.0
8483,2024.0,jan,1/1/2024,NaN,THREE WHEELER (GOODS),3-Wheelers,3W_Goods,18.0
8484,2024.0,jan,1/1/2024,NaN,THREE WHEELER (PASSENGER),3-Wheelers,3W_Shared,63.0
8856,2014.0,feb,2/1/2014,NaN,BUS,Bus,Bus,0.0
8868,2014.0,feb,2/1/2014,NaN,OMNI BUS,Bus,Bus,0.0
9612,2015.0,feb,2/1/2015,NaN,BUS,Bus,Bus,0.0
9626,2015.0,feb,2/1/2015,NaN,OMNI BUS,Bus,Bus,0.0
10377,2016.0,feb,2/1/2016,NaN,BUS,Bus,Bus,0.0
10392,2016.0,feb,2/1/2016,NaN,OMNI BUS,Bus,Bus,0.0
11208,2017.0,feb,2/1/2017,NaN,BUS,Bus,Bus,0.0
11222,2017.0,feb,2/1/2017,NaN,OMNI BUS,Bus,Bus,0.0
12001,2018.0,feb,2/1/2018,NaN,BUS,Bus,Bus,0.0
12014,2018.0,feb,2/1/2018,NaN,OMNI BUS,Bus,Bus,0.0
12851,2019.0,feb,2/1/2019,NaN,BUS,Bus,Bus,0.0
12868,2019.0,feb,2/1/2019,NaN,OMNI BUS,Bus,Bus,0.0
13688,2020.0,feb,2/1/2020,NaN,BUS,Bus,Bus,0.0
13705,2020.0,feb,2/1/2020,NaN,OMNI BUS,Bus,Bus,0.0
14562,2021.0,feb,2/1/2021,NaN,BUS,Bus,Bus,0.0
14579,2021.0,feb,2/1/2021,NaN,OMNI BUS,Bus,Bus,0.0
15381,2022.0,feb,2/1/2022,NaN,BUS,Bus,Bus,0.0
15399,2022.0,feb,2/1/2022,NaN,OMNI BUS,Bus,Bus,0.0
16110,2023.0,feb,2/1/2023,NaN,BUS,Bus,Bus,19.0
16131,2023.0,feb,2/1/2023,NaN,OMNI BUS,Bus,Bus,0.0
16132,2023.0,feb,2/1/2023,NaN,OMNI BUS (PRIVATE USE),Bus,Bus,0.0
16928,2014.0,mar,3/1/2014,NaN,BUS,Bus,Bus,0.0
16945,2014.0,mar,3/1/2014,NaN,OMNI BUS,Bus,Bus,0.0
17700,2015.0,mar,3/1/2015,NaN,BUS,Bus,Bus,0.0
17716,2015.0,mar,3/1/2015,NaN,OMNI BUS,Bus,Bus,0.0
18463,2016.0,mar,3/1/2016,NaN,BUS,Bus,Bus,0.0
18478,2016.0,mar,3/1/2016,NaN,OMNI BUS,Bus,Bus,0.0
19274,2017.0,mar,3/1/2017,NaN,BUS,Bus,Bus,0.0
19292,2017.0,mar,3/1/2017,NaN,OMNI BUS,Bus,Bus,0.0
20206,2018.0,mar,3/1/2018,NaN,BUS,Bus,Bus,0.0
20222,2018.0,mar,3/1/2018,NaN,OMNI BUS,Bus,Bus,2.0
21088,2019.0,mar,3/1/2019,NaN,BUS,Bus,Bus,0.0
21108,2019.0,mar,3/1/2019,NaN,OMNI BUS,Bus,Bus,0.0
21966,2020.0,mar,3/1/2020,NaN,BUS,Bus,Bus,0.0
21985,2020.0,mar,3/1/2020,NaN,OMNI BUS,Bus,Bus,0.0
22889,2021.0,mar,3/1/2021,NaN,BUS,Bus,Bus,0.0
22907,2021.0,mar,3/1/2021,NaN,OMNI BUS,Bus,Bus,0.0
23747,2022.0,mar,3/1/2022,NaN,BUS,Bus,Bus,0.0

In [44]:
df.loc[(df["Vehicle_Category"] == "Bus") &
      (df["Vehicle_Type"] == "Bus") &
      (df["Month_Name"] == "mar"), "State"] = "Karnataka"

In [45]:
df.isnull().sum()

Year                   0
Month_Name             0
Date                   0
State                228
Vehicle_Class          0
Vehicle_Category       0
Vehicle_Type           0
EV_Sales_Quantity      0
dtype: int64

In [46]:
df.loc[(df["Vehicle_Category"] == "Bus") &
      (df["Vehicle_Type"] == "Bus") &
      (df["Month_Name"] == "feb"), "State"] = "Karnataka"

In [47]:
df.isnull().sum()

Year                   0
Month_Name             0
Date                   0
State                207
Vehicle_Class          0
Vehicle_Category       0
Vehicle_Type           0
EV_Sales_Quantity      0
dtype: int64

In [48]:
df[df["State"].isna()].tail(50)

,Year,Month_Name,Date,State,Vehicle_Class,Vehicle_Category,Vehicle_Type,EV_Sales_Quantity
79060,2022.0,oct,10/1/2022,NaN,BUS,Bus,Bus,4.0
79081,2022.0,oct,10/1/2022,NaN,OMNI BUS,Bus,Bus,0.0
79082,2022.0,oct,10/1/2022,NaN,OMNI BUS (PRIVATE USE),Bus,Bus,0.0
79833,2023.0,oct,10/1/2023,NaN,BUS,Bus,Bus,0.0
79851,2023.0,oct,10/1/2023,NaN,OMNI BUS,Bus,Bus,0.0
79852,2023.0,oct,10/1/2023,NaN,OMNI BUS (PRIVATE USE),Bus,Bus,0.0
80694,2014.0,nov,11/1/2014,NaN,BUS,Bus,Bus,0.0
80707,2014.0,nov,11/1/2014,NaN,OMNI BUS,Bus,Bus,0.0
81441,2015.0,nov,11/1/2015,NaN,BUS,Bus,Bus,0.0
81453,2015.0,nov,11/1/2015,NaN,OMNI BUS,Bus,Bus,0.0
82210,2016.0,nov,11/1/2016,NaN,BUS,Bus,Bus,0.0
82222,2016.0,nov,11/1/2016,NaN,OMNI BUS,Bus,Bus,0.0
82989,2017.0,nov,11/1/2017,NaN,BUS,Bus,Bus,0.0
83003,2017.0,nov,11/1/2017,NaN,OMNI BUS,Bus,Bus,0.0
83890,2018.0,nov,11/1/2018,NaN,BUS,Bus,Bus,0.0
83908,2018.0,nov,11/1/2018,NaN,OMNI BUS,Bus,Bus,0.0
84741,2019.0,nov,11/1/2019,NaN,BUS,Bus,Bus,0.0
84758,2019.0,nov,11/1/2019,NaN,OMNI BUS,Bus,Bus,0.0
85588,2020.0,nov,11/1/2020,NaN,BUS,Bus,Bus,0.0
85606,2020.0,nov,11/1/2020,NaN,OMNI BUS,Bus,Bus,0.0
86326,2021.0,nov,11/1/2021,NaN,BUS,Bus,Bus,0.0
86341,2021.0,nov,11/1/2021,NaN,OMNI BUS,Bus,Bus,0.0
87113,2022.0,nov,11/1/2022,NaN,BUS,Bus,Bus,0.0
87132,2022.0,nov,11/1/2022,NaN,OMNI BUS,Bus,Bus,0.0
87133,2022.0,nov,11/1/2022,NaN,OMNI BUS (PRIVATE USE),Bus,Bus,0.0
87902,2023.0,nov,11/1/2023,NaN,BUS,Bus,Bus,0.0
87918,2023.0,nov,11/1/2023,NaN,OMNI BUS,Bus,Bus,0.0
87919,2023.0,nov,11/1/2023,NaN,OMNI BUS (PRIVATE USE),Bus,Bus,0.0
88772,2014.0,dec,12/1/2014,NaN,BUS,Bus,Bus,0.0
88784,2014.0,dec,12/1/2014,NaN,OMNI BUS,Bus,Bus,0.0
89518,2015.0,dec,12/1/2015,NaN,BUS,Bus,Bus,0.0
89530,2015.0,dec,12/1/2015,NaN,OMNI BUS,Bus,Bus,0.0
90267,2016.0,dec,12/1/2016,NaN,BUS,Bus,Bus,0.0
90282,2016.0,dec,12/1/2016,NaN,OMNI BUS,Bus,Bus,0.0
91053,2017.0,dec,12/1/2017,NaN,BUS,Bus,Bus,0.0
91067,2017.0,dec,12/1/2017,NaN,OMNI BUS,Bus,Bus,0.0
91949,2018.0,dec,12/1/2018,NaN,BUS,Bus,Bus,0.0
91967,2018.0,dec,12/1/2018,NaN,OMNI BUS,Bus,Bus,0.0
92806,2019.0,dec,12/1/2019,NaN,BUS,Bus,Bus,0.0
92821,2019.0,dec,12/1/2019,NaN,OMNI BUS,Bus,Bus,0.0
93646,2020.0,dec,12/1/2020,NaN,BUS,Bus,Bus,0.0
93664,2020.0,dec,12/1/2020,NaN,OMNI BUS,Bus,Bus,0.0
94427,2021.0,dec,12/1/2021,NaN,BUS,Bus,Bus,0.0
94446,2021.0,dec,12/1/2021,NaN,OMNI BUS,Bus,Bus,0.0
95218,2022.0,dec,12/1/2022,NaN,BUS,Bus,Bus,10.0
95238,2022.0,dec,12/1/2022,NaN,OMNI BUS,Bus,Bus,0.0
95239,2022.0,dec,12/1/2022,NaN,OMNI BUS (PRIVATE USE),Bus,Bus,0.0
95998,2023.0,dec,12/1/2023,NaN,BUS,Bus,Bus,0.0
96017,2023.0,dec,12/1/2023,NaN,OMNI BUS,Bus,Bus,0.0
96018,2023.0,dec,12/1/2023,NaN,OMNI BUS (PRIVATE USE),Bus,Bus,0.0

In [49]:
df.loc[(df["Vehicle_Category"] == "Bus") &
      (df["Vehicle_Type"] == "Bus") &
      (df["Month_Name"] == "oct"), "State"] = "Karnataka"

In [50]:
df.isnull().sum()

Year                   0
Month_Name             0
Date                   0
State                185
Vehicle_Class          0
Vehicle_Category       0
Vehicle_Type           0
EV_Sales_Quantity      0
dtype: int64

In [51]:
df.loc[(df["Vehicle_Category"] == "Bus") &
      (df["Vehicle_Type"] == "Bus") &
      (df["Month_Name"] == "nov"), "State"] = "Karnataka"

In [52]:
df.isnull().sum()

Year                   0
Month_Name             0
Date                   0
State                163
Vehicle_Class          0
Vehicle_Category       0
Vehicle_Type           0
EV_Sales_Quantity      0
dtype: int64

In [53]:
df.loc[(df["Vehicle_Category"] == "Bus") &
      (df["Vehicle_Type"] == "Bus") &
      (df["Month_Name"] == "dec"), "State"] = "Karnataka"

In [54]:
df.isnull().sum()

Year                   0
Month_Name             0
Date                   0
State                141
Vehicle_Class          0
Vehicle_Category       0
Vehicle_Type           0
EV_Sales_Quantity      0
dtype: int64

In [55]:
df[df["State"].isna()].head(50)

,Year,Month_Name,Date,State,Vehicle_Class,Vehicle_Category,Vehicle_Type,EV_Sales_Quantity
8466,2024.0,jan,1/1/2024,NaN,E-RICKSHAW(P),3-Wheelers,3W_Shared_LowSpeed,5.0
8467,2024.0,jan,1/1/2024,NaN,E-RICKSHAW WITH CART (G),3-Wheelers,3W_Goods_LowSpeed,10.0
8471,2024.0,jan,1/1/2024,NaN,LUXURY CAB,4-Wheelers,4W_Shared,0.0
8473,2024.0,jan,1/1/2024,NaN,M-CYCLE/SCOOTER,2-Wheelers,2W_Personal,2047.0
8474,2024.0,jan,1/1/2024,NaN,M-CYCLE/SCOOTER-WITH SIDE CAR,2-Wheelers,2W_Personal,0.0
8475,2024.0,jan,1/1/2024,NaN,MOPED,2-Wheelers,2W_Personal,0.0
8476,2024.0,jan,1/1/2024,NaN,MOTOR CAB,4-Wheelers,4W_Shared,2.0
8477,2024.0,jan,1/1/2024,NaN,MOTOR CAR,4-Wheelers,4W_Personal,121.0
8478,2024.0,jan,1/1/2024,NaN,MOTOR CYCLE/SCOOTER-USED FOR HIRE,2-Wheelers,2W_Shared,0.0
8479,2024.0,jan,1/1/2024,NaN,MOTORISED CYCLE (CC > 25CC),2-Wheelers,2W_Personal,87.0
8483,2024.0,jan,1/1/2024,NaN,THREE WHEELER (GOODS),3-Wheelers,3W_Goods,18.0
8484,2024.0,jan,1/1/2024,NaN,THREE WHEELER (PASSENGER),3-Wheelers,3W_Shared,63.0
25364,2014.0,apr,4/1/2014,NaN,BUS,Bus,Bus,0.0
25376,2014.0,apr,4/1/2014,NaN,OMNI BUS,Bus,Bus,0.0
26115,2015.0,apr,4/1/2015,NaN,BUS,Bus,Bus,0.0
26126,2015.0,apr,4/1/2015,NaN,OMNI BUS,Bus,Bus,0.0
26850,2016.0,apr,4/1/2016,NaN,BUS,Bus,Bus,0.0
26864,2016.0,apr,4/1/2016,NaN,OMNI BUS,Bus,Bus,0.0
27623,2017.0,apr,4/1/2017,NaN,BUS,Bus,Bus,0.0
27641,2017.0,apr,4/1/2017,NaN,OMNI BUS,Bus,Bus,0.0
28485,2018.0,apr,4/1/2018,NaN,BUS,Bus,Bus,0.0
28501,2018.0,apr,4/1/2018,NaN,OMNI BUS,Bus,Bus,0.0
29345,2019.0,apr,4/1/2019,NaN,BUS,Bus,Bus,0.0
29362,2019.0,apr,4/1/2019,NaN,OMNI BUS,Bus,Bus,0.0
30190,2020.0,apr,4/1/2020,NaN,BUS,Bus,Bus,0.0
30205,2020.0,apr,4/1/2020,NaN,OMNI BUS,Bus,Bus,0.0
30876,2021.0,apr,4/1/2021,NaN,BUS,Bus,Bus,0.0
30895,2021.0,apr,4/1/2021,NaN,OMNI BUS,Bus,Bus,0.0
31644,2022.0,apr,4/1/2022,NaN,BUS,Bus,Bus,0.0
31659,2022.0,apr,4/1/2022,NaN,OMNI BUS,Bus,Bus,0.0
32450,2023.0,apr,4/1/2023,NaN,BUS,Bus,Bus,3.0
32472,2023.0,apr,4/1/2023,NaN,OMNI BUS,Bus,Bus,0.0
32473,2023.0,apr,4/1/2023,NaN,OMNI BUS (PRIVATE USE),Bus,Bus,0.0
33287,2014.0,may,5/1/2014,NaN,BUS,Bus,Bus,0.0
33301,2014.0,may,5/1/2014,NaN,OMNI BUS,Bus,Bus,0.0
34029,2015.0,may,5/1/2015,NaN,BUS,Bus,Bus,0.0
34043,2015.0,may,5/1/2015,NaN,OMNI BUS,Bus,Bus,0.0
34795,2016.0,may,5/1/2016,NaN,BUS,Bus,Bus,0.0
34810,2016.0,may,5/1/2016,NaN,OMNI BUS,Bus,Bus,0.0
35597,2017.0,may,5/1/2017,NaN,BUS,Bus,Bus,0.0
35611,2017.0,may,5/1/2017,NaN,OMNI BUS,Bus,Bus,0.0
36467,2018.0,may,5/1/2018,NaN,BUS,Bus,Bus,0.0
36483,2018.0,may,5/1/2018,NaN,OMNI BUS,Bus,Bus,0.0
37328,2019.0,may,5/1/2019,NaN,BUS,Bus,Bus,0.0
37343,2019.0,may,5/1/2019,NaN,OMNI BUS,Bus,Bus,0.0
38182,2020.0,may,5/1/2020,NaN,BUS,Bus,Bus,0.0
38193,2020.0,may,5/1/2020,NaN,OMNI BUS,Bus,Bus,0.0
38606,2021.0,may,5/1/2021,NaN,BUS,Bus,Bus,0.0
38625,2021.0,may,5/1/2021,NaN,OMNI BUS,Bus,Bus,0.0
39249,2022.0,may,5/1/2022,NaN,BUS,Bus,Bus,0.0

In [56]:
df.loc[(df["Vehicle_Category"] == "Bus") &
      (df["Vehicle_Type"] == "Bus") &
      (df["Month_Name"] == "apr"), "State"] = "Karnataka"

In [57]:
df.isnull().sum()

Year                   0
Month_Name             0
Date                   0
State                120
Vehicle_Class          0
Vehicle_Category       0
Vehicle_Type           0
EV_Sales_Quantity      0
dtype: int64

In [58]:
df.loc[(df["Vehicle_Category"] == "Bus") &
      (df["Vehicle_Type"] == "Bus") &
      (df["Month_Name"] == "may"), "State"] = "Karnataka"

In [59]:
df.isnull().sum()

Year                  0
Month_Name            0
Date                  0
State                99
Vehicle_Class         0
Vehicle_Category      0
Vehicle_Type          0
EV_Sales_Quantity     0
dtype: int64

In [60]:
df[df["State"].isna()].tail(50)

,Year,Month_Name,Date,State,Vehicle_Class,Vehicle_Category,Vehicle_Type,EV_Sales_Quantity
54314,2021.0,jul,7/1/2021,NaN,OMNI BUS,Bus,Bus,0.0
55084,2022.0,jul,7/1/2022,NaN,BUS,Bus,Bus,0.0
55103,2022.0,jul,7/1/2022,NaN,OMNI BUS,Bus,Bus,0.0
55104,2022.0,jul,7/1/2022,NaN,OMNI BUS (PRIVATE USE),Bus,Bus,0.0
55871,2023.0,jul,7/1/2023,NaN,BUS,Bus,Bus,0.0
55889,2023.0,jul,7/1/2023,NaN,OMNI BUS,Bus,Bus,0.0
55890,2023.0,jul,7/1/2023,NaN,OMNI BUS (PRIVATE USE),Bus,Bus,0.0
56738,2014.0,aug,8/1/2014,NaN,BUS,Bus,Bus,0.0
56751,2014.0,aug,8/1/2014,NaN,OMNI BUS,Bus,Bus,0.0
57488,2015.0,aug,8/1/2015,NaN,BUS,Bus,Bus,0.0
57501,2015.0,aug,8/1/2015,NaN,OMNI BUS,Bus,Bus,0.0
58252,2016.0,aug,8/1/2016,NaN,BUS,Bus,Bus,0.0
58265,2016.0,aug,8/1/2016,NaN,OMNI BUS,Bus,Bus,0.0
59019,2017.0,aug,8/1/2017,NaN,BUS,Bus,Bus,0.0
59037,2017.0,aug,8/1/2017,NaN,OMNI BUS,Bus,Bus,0.0
59881,2018.0,aug,8/1/2018,NaN,BUS,Bus,Bus,0.0
59898,2018.0,aug,8/1/2018,NaN,OMNI BUS,Bus,Bus,0.0
60708,2019.0,aug,8/1/2019,NaN,BUS,Bus,Bus,0.0
60725,2019.0,aug,8/1/2019,NaN,OMNI BUS,Bus,Bus,0.0
61529,2020.0,aug,8/1/2020,NaN,BUS,Bus,Bus,0.0
61544,2020.0,aug,8/1/2020,NaN,OMNI BUS,Bus,Bus,0.0
62201,2021.0,aug,8/1/2021,NaN,BUS,Bus,Bus,0.0
62220,2021.0,aug,8/1/2021,NaN,OMNI BUS,Bus,Bus,0.0
62992,2022.0,aug,8/1/2022,NaN,BUS,Bus,Bus,0.0
63010,2022.0,aug,8/1/2022,NaN,OMNI BUS,Bus,Bus,0.0
63011,2022.0,aug,8/1/2022,NaN,OMNI BUS (PRIVATE USE),Bus,Bus,0.0
63794,2023.0,aug,8/1/2023,NaN,OMNI BUS,Bus,Bus,0.0
63795,2023.0,aug,8/1/2023,NaN,OMNI BUS (PRIVATE USE),Bus,Bus,0.0
64633,2014.0,sep,9/1/2014,NaN,BUS,Bus,Bus,0.0
64645,2014.0,sep,9/1/2014,NaN,OMNI BUS,Bus,Bus,0.0
65392,2015.0,sep,9/1/2015,NaN,BUS,Bus,Bus,0.0
65407,2015.0,sep,9/1/2015,NaN,OMNI BUS,Bus,Bus,0.0
66154,2016.0,sep,9/1/2016,NaN,BUS,Bus,Bus,0.0
66167,2016.0,sep,9/1/2016,NaN,OMNI BUS,Bus,Bus,0.0
66928,2017.0,sep,9/1/2017,NaN,BUS,Bus,Bus,0.0
66941,2017.0,sep,9/1/2017,NaN,OMNI BUS,Bus,Bus,0.0
67786,2018.0,sep,9/1/2018,NaN,BUS,Bus,Bus,0.0
67803,2018.0,sep,9/1/2018,NaN,OMNI BUS,Bus,Bus,0.0
68628,2019.0,sep,9/1/2019,NaN,BUS,Bus,Bus,0.0
68645,2019.0,sep,9/1/2019,NaN,OMNI BUS,Bus,Bus,0.0
69473,2020.0,sep,9/1/2020,NaN,BUS,Bus,Bus,0.0
69489,2020.0,sep,9/1/2020,NaN,OMNI BUS,Bus,Bus,0.0
70232,2021.0,sep,9/1/2021,NaN,BUS,Bus,Bus,0.0
70252,2021.0,sep,9/1/2021,NaN,OMNI BUS,Bus,Bus,0.0
71049,2022.0,sep,9/1/2022,NaN,BUS,Bus,Bus,12.0
71067,2022.0,sep,9/1/2022,NaN,OMNI BUS,Bus,Bus,0.0
71068,2022.0,sep,9/1/2022,NaN,OMNI BUS (PRIVATE USE),Bus,Bus,0.0
71819,2023.0,sep,9/1/2023,NaN,BUS,Bus,Bus,0.0
71837,2023.0,sep,9/1/2023,NaN,OMNI BUS,Bus,Bus,0.0
71838,2023.0,sep,9/1/2023,NaN,OMNI BUS (PRIVATE USE),Bus,Bus,0.0

In [61]:
df.loc[(df["Vehicle_Category"] == "Bus") &
      (df["Vehicle_Type"] == "Bus") &
      (df["Month_Name"] == "sep"), "State"] = "Karnataka"

In [62]:
df.isnull().sum()

Year                  0
Month_Name            0
Date                  0
State                77
Vehicle_Class         0
Vehicle_Category      0
Vehicle_Type          0
EV_Sales_Quantity     0
dtype: int64

In [63]:
df.loc[(df["Vehicle_Category"] == "Bus") &
      (df["Vehicle_Type"] == "Bus") &
      (df["Month_Name"] == "aug"), "State"] = "Karnataka"

In [64]:
df.isnull().sum()

Year                  0
Month_Name            0
Date                  0
State                56
Vehicle_Class         0
Vehicle_Category      0
Vehicle_Type          0
EV_Sales_Quantity     0
dtype: int64

In [65]:
df.loc[(df["Vehicle_Category"] == "Bus") &
      (df["Vehicle_Type"] == "Bus") &
      (df["Month_Name"] == "jul"), "State"] = "Karnataka"

In [66]:
df.isnull().sum()

Year                  0
Month_Name            0
Date                  0
State                34
Vehicle_Class         0
Vehicle_Category      0
Vehicle_Type          0
EV_Sales_Quantity     0
dtype: int64

In [67]:
df[df["State"].isna()].head(50)

,Year,Month_Name,Date,State,Vehicle_Class,Vehicle_Category,Vehicle_Type,EV_Sales_Quantity
8466,2024.0,jan,1/1/2024,NaN,E-RICKSHAW(P),3-Wheelers,3W_Shared_LowSpeed,5.0
8467,2024.0,jan,1/1/2024,NaN,E-RICKSHAW WITH CART (G),3-Wheelers,3W_Goods_LowSpeed,10.0
8471,2024.0,jan,1/1/2024,NaN,LUXURY CAB,4-Wheelers,4W_Shared,0.0
8473,2024.0,jan,1/1/2024,NaN,M-CYCLE/SCOOTER,2-Wheelers,2W_Personal,2047.0
8474,2024.0,jan,1/1/2024,NaN,M-CYCLE/SCOOTER-WITH SIDE CAR,2-Wheelers,2W_Personal,0.0
8475,2024.0,jan,1/1/2024,NaN,MOPED,2-Wheelers,2W_Personal,0.0
8476,2024.0,jan,1/1/2024,NaN,MOTOR CAB,4-Wheelers,4W_Shared,2.0
8477,2024.0,jan,1/1/2024,NaN,MOTOR CAR,4-Wheelers,4W_Personal,121.0
8478,2024.0,jan,1/1/2024,NaN,MOTOR CYCLE/SCOOTER-USED FOR HIRE,2-Wheelers,2W_Shared,0.0
8479,2024.0,jan,1/1/2024,NaN,MOTORISED CYCLE (CC > 25CC),2-Wheelers,2W_Personal,87.0
8483,2024.0,jan,1/1/2024,NaN,THREE WHEELER (GOODS),3-Wheelers,3W_Goods,18.0
8484,2024.0,jan,1/1/2024,NaN,THREE WHEELER (PASSENGER),3-Wheelers,3W_Shared,63.0
40902,2014.0,jun,6/1/2014,NaN,BUS,Bus,Bus,0.0
40915,2014.0,jun,6/1/2014,NaN,OMNI BUS,Bus,Bus,0.0
41657,2015.0,jun,6/1/2015,NaN,BUS,Bus,Bus,0.0
41669,2015.0,jun,6/1/2015,NaN,OMNI BUS,Bus,Bus,0.0
42393,2016.0,jun,6/1/2016,NaN,BUS,Bus,Bus,0.0
42406,2016.0,jun,6/1/2016,NaN,OMNI BUS,Bus,Bus,0.0
43194,2017.0,jun,6/1/2017,NaN,BUS,Bus,Bus,0.0
43209,2017.0,jun,6/1/2017,NaN,OMNI BUS,Bus,Bus,0.0
44068,2018.0,jun,6/1/2018,NaN,BUS,Bus,Bus,0.0
44083,2018.0,jun,6/1/2018,NaN,OMNI BUS,Bus,Bus,0.0
44923,2019.0,jun,6/1/2019,NaN,BUS,Bus,Bus,0.0
44938,2019.0,jun,6/1/2019,NaN,OMNI BUS,Bus,Bus,0.0
45761,2020.0,jun,6/1/2020,NaN,BUS,Bus,Bus,0.0
45775,2020.0,jun,6/1/2020,NaN,OMNI BUS,Bus,Bus,0.0
46361,2021.0,jun,6/1/2021,NaN,BUS,Bus,Bus,0.0
46375,2021.0,jun,6/1/2021,NaN,OMNI BUS,Bus,Bus,0.0
47094,2022.0,jun,6/1/2022,NaN,BUS,Bus,Bus,0.0
47115,2022.0,jun,6/1/2022,NaN,OMNI BUS,Bus,Bus,0.0
47116,2022.0,jun,6/1/2022,NaN,OMNI BUS (PRIVATE USE),Bus,Bus,0.0
47898,2023.0,jun,6/1/2023,NaN,BUS,Bus,Bus,0.0
47914,2023.0,jun,6/1/2023,NaN,OMNI BUS,Bus,Bus,0.0
47915,2023.0,jun,6/1/2023,NaN,OMNI BUS (PRIVATE USE),Bus,Bus,0.0

In [68]:
df.loc[(df["Vehicle_Category"] == "Bus") &
      (df["Vehicle_Type"] == "Bus") &
      (df["Month_Name"] == "jun"), "State"] = "Karnataka"

In [69]:
df.isnull().sum()

Year                  0
Month_Name            0
Date                  0
State                12
Vehicle_Class         0
Vehicle_Category      0
Vehicle_Type          0
EV_Sales_Quantity     0
dtype: int64

In [70]:
df[df["State"].isna()].head(50)

,Year,Month_Name,Date,State,Vehicle_Class,Vehicle_Category,Vehicle_Type,EV_Sales_Quantity
8466,2024.0,jan,1/1/2024,NaN,E-RICKSHAW(P),3-Wheelers,3W_Shared_LowSpeed,5.0
8467,2024.0,jan,1/1/2024,NaN,E-RICKSHAW WITH CART (G),3-Wheelers,3W_Goods_LowSpeed,10.0
8471,2024.0,jan,1/1/2024,NaN,LUXURY CAB,4-Wheelers,4W_Shared,0.0
8473,2024.0,jan,1/1/2024,NaN,M-CYCLE/SCOOTER,2-Wheelers,2W_Personal,2047.0
8474,2024.0,jan,1/1/2024,NaN,M-CYCLE/SCOOTER-WITH SIDE CAR,2-Wheelers,2W_Personal,0.0
8475,2024.0,jan,1/1/2024,NaN,MOPED,2-Wheelers,2W_Personal,0.0
8476,2024.0,jan,1/1/2024,NaN,MOTOR CAB,4-Wheelers,4W_Shared,2.0
8477,2024.0,jan,1/1/2024,NaN,MOTOR CAR,4-Wheelers,4W_Personal,121.0
8478,2024.0,jan,1/1/2024,NaN,MOTOR CYCLE/SCOOTER-USED FOR HIRE,2-Wheelers,2W_Shared,0.0
8479,2024.0,jan,1/1/2024,NaN,MOTORISED CYCLE (CC > 25CC),2-Wheelers,2W_Personal,87.0
8483,2024.0,jan,1/1/2024,NaN,THREE WHEELER (GOODS),3-Wheelers,3W_Goods,18.0
8484,2024.0,jan,1/1/2024,NaN,THREE WHEELER (PASSENGER),3-Wheelers,3W_Shared,63.0

In [71]:
df.loc[(df["Vehicle_Category"] == "3-Wheelers") &
      (df["Month_Name"] == "jan"), "State"] = "Karnataka"

In [72]:
df.isnull().sum()

Year                 0
Month_Name           0
Date                 0
State                8
Vehicle_Class        0
Vehicle_Category     0
Vehicle_Type         0
EV_Sales_Quantity    0
dtype: int64

In [73]:
df.loc[(df["Vehicle_Category"] == "2-Wheelers") &
      (df["Month_Name"] == "jan"), "State"] = "Karnataka"

In [74]:
df.isnull().sum()

Year                 0
Month_Name           0
Date                 0
State                3
Vehicle_Class        0
Vehicle_Category     0
Vehicle_Type         0
EV_Sales_Quantity    0
dtype: int64

In [75]:
df.loc[(df["Vehicle_Category"] == "4-Wheelers") &
      (df["Month_Name"] == "jan"), "State"] = "Karnataka"

In [76]:
df.isnull().sum()

Year                 0
Month_Name           0
Date                 0
State                0
Vehicle_Class        0
Vehicle_Category     0
Vehicle_Type         0
EV_Sales_Quantity    0
dtype: int64